/* 글꼴 설정 */
@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
} 
/* 전체 선택 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 배경처리 */
.container{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/room.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
/* 헤더배치 */
.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* 글자로고 */
.container .header h1 a{
    font-family: abster;
    text-decoration: none;
    color: white;
}
/* 메뉴요소 배치 */
.container .header .nav ul li{
    display: inline-block;
    margin: 0 10px;
}
/* 메뉴요소 스타일링 */
.container .header .nav ul li a{
    text-decoration: none;
    color: white;
}
/* 메뉴요소 마우스이벤트 */
.container .header .nav ul li a:hover{
    color: yellow;
}
/* 화면 중앙 요소 배치 */
.container .hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
/* 화면 중앙 요소 제목 */
.container .hero h2{
    font-size: 60px;
}
/* 화면 중앙 요소 본문 */
.container .hero p{
    margin: .8rem 0;
    font-size: 22px;
}
/* 화면 중앙 요소 버튼 */
.container .hero button{
    background: none;
    border-radius: 20px;
    border: .15rem green solid;
    color: white;
    padding: 15px 20px;
    margin-top: 30px;
}
/* 화면 중앙 요소 버튼 처리 */
.container .hero button:hover{
    background-color: yellow;
}

